* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font: 12px/1.5 "Microsoft Yahei", Tahoma, Helvetica, Arial, sans-serif;
}
.w {
  width: 1120px;
  height: 100%;
  margin: auto;
  overflow: hidden;
}
a{
  text-decoration: none;
  color:#000;  
}
.header{
  position: fixed;
  height: 72px;
  width: 100%;
  min-width: 1120px;
  top: 0;
  left: 0;
  z-index: 1000;
  background:#fff;
  text-align: center;
  line-height: 1.5;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 4%);
}
.nhead{
  width:auto;
  max-width: 1440px;
  margin: 0 auto;
}
.logo {
  width: 124px;
  height: 44px;
  float: left;
  padding: 0;
  margin: 14px 54px 14px 48px;
}
img{
  width: 100%;
  height: 100% ;
  vertical-align: middle;
}
.clearfix:after {
  content: ".";
  display: block;
  font-size: 0px;
  line-height: 0px;
  height: 0;
  clear: both;
  visibility: hidden;
}
.ct{
  width: auto;
  border: none;

}
.communi{
  display: block;
  float: left;
  width: 120px;
  height: 80px;
  margin-right: 30px;
  background:url(https://5sstatic.kugou.com/public/v5.1/images/nav/communication_4.png) no-repeat;
  background-size: 100% 100%;
}
.musician{
  float: left;
  margin-right: 30px;
  height: 72px;
  line-height: 72px;
  font-size: 16px;
  color: #000;
  text-decoration: none;
}
.musician:hover{
  color:RGB(11, 190, 182);
}
.nav1{
  float: right;
  width: 249px;
  height: 72px;
  /* background-color: red; */
}
li{
  list-style: none;
}
.nav1 ul li{
  font-size: 14px;
  font-weight: 400;
  float: left;
  line-height: 72px;
  margin-left: 18px;
  height: 30px;
}
.nav1 ul li a:hover{
  color:RGB(11, 190, 182);
}
.nav1 ul .upload{
  position:relative;
  width: 37px;
  height: 72px;
  cursor: pointer;
  margin-left: 19px;
  background:url(https://5sstatic.kugou.com/public/v5.1/images/nav/upload_2.png) no-repeat center center;
  background-size: 85% 45%;
}
.upload:hover{
  background-color: rgb(59, 41, 18);
}
.upicon{
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: inherit;
  margin-top: 20px;
}
.upbox{
  position: absolute;
  left: -40px;
  top:56px;
  width: 116px;
  height: 200px;
  padding: 2px 0 32px 5px;
  border: none;
  border-radius: 12px;
  box-shadow: 0 8px 24px 0 rgb(0 0 0 / 12%);
  background-color: #fff;
  display: none;
}
.upload:hover .upbox{
  display: block;
}
.nav1 ul .upload:hover {
  background-color:rgb(117,117,117,.1);
  
}
.uplist{
  margin-left:5px;
  height: 25px;
}
.login{
  width: 200px;
  height: 72px;
  text-align: center;
  margin: 0;
  padding: 0;
}
.nhead .nav1 ul{
  float:left;
}
.nhead .nav1 ul li{
  float: left;
  position: relative;
}
.menu{
  float: right;
  margin-top: 20px;
  width: 32px;
  height: 72px;
  background: url(https://5sstatic.kugou.com/public/v5.1/images/nav/menu_2.png) center center no-repeat;
  background-size: 100% auto;
}
.nhead .searchbox{
  float: right;
  display: flex;
  position: relative;
  width: 315px ;
  height: 40px;
  padding:0;
  margin:16px 25px 16px 0;
  border-radius: 18px;
  background-color: rgb(248, 248, 248);
}
.nhead .searchbox input{
  float: left ;
  /* position: absolute; */
  text-indent: 2em;
  left: 28px;
  width: 272px;
  height: 40px;
  font-size: 14px;
  border:0;
  background-color:transparent;
  outline: none;
}
.nhead .searchbox input::-webkit-input-placeholder{
  color:rgb(193,193,193);
}
.nhead .searchbox .split{
  float: left;
  width: 1px;
  height: 20px;
  margin-right: 12px;
  margin-top: 10px;
  background-color: #e5e5e5;
}
.nhead .searchbox .searchlogo{
  width: 16px;
  height: 16px;
  float: left;  
  margin-top: 12px;
  background-size: contain;
  background-image: url(https://5sstatic.kugou.com/public/v5.0/images/nav/search.png);
}
.banner{
  width: 1120px;
  height: 388px;
  margin: 115px auto;
  margin-bottom: 56px;
  /* background-color:blue; */
}
.banner_left{
  width: 720px;
  height: 388px;
  float: left;
}
.banner_left a{
  display: inline-block;
  width: 720px;
  height: 388px;
  background-image: url(https://wsingbssdl.kugou.com/1c5faa1bc9dc9b7aa6fc6fb07234b53d.jpg);
  /* background-size: 100% 100%; */
  border-radius: 10px;
}
.banner_right{
  position: relative;
  float: left;
  width: 390px;
  height: 388px;
  margin-left: 10px;
  /* background-color:rgb(190, 73, 236) */
}
.compete{
  display: inline-block;
  width: 390px;
  height: 188px;
  margin-bottom: 6px;
  /* background-color: forestgreen; */
  background-image: url(https://5sstatic.kugou.com/public/v5.1/images/activity-bg.png);
  background-size: cover;
  background-position: center ;
  border-radius: 10px;
}
.compete_icon{
  position: absolute;
  width: 56px;
  height: 24px;
  top: 8px;
  right: 8px;
  z-index: 2;
  background-size: contain;
  background-position: center center;
  background-image: url(https://5sstatic.kugou.com/public/v5.1/images/compete.png);
}
.activity{
  display: inline-block;
  float: left;
  width: 390px;
  height: 189px;
  background-image: url(https://5sstatic.kugou.com/public/v5.1/images/community-bg.jpg);
  background-size:cover;
  background-position: center;
  border-radius: 10px;
}
.recommend{
  width: 1120px;
  height: 800px;
  margin:0 auto;
  
}
.rec_top{
  width: 1120px;
  height: 40px;
  margin:0 auto;
  /* background-color: gray; */
}
.recommend .rec_top .title{
  float: left;
  width: 144px;
  height: 40px;
  background-size: contain;
  background-position: center center;
  background-image: url(https://5sstatic.kugou.com/public/v5.1/images/title-recommend.png);
  margin-right: 40px;
}
.recommend .btn {
  /* display: flex;
  align-items: center; */
  float: left;
  height: 36px;
  padding: 0 24px;
  text-align: center;
  line-height: 36px;
  margin-top: 2px;
  margin-right: 24px;
  font-size: 13px;
  border-radius: 18px;
  background-color: #f8f8f8;
  cursor: pointer;
}
.recommend .btn.cur{
  color:white;
  background-color: #00bbb3;
}
.recsong_box{
  width: 1120px;
  height: 662px;
  margin-top: 44px;
  /* background-color: yellow; */
}
.recsong{
  float: left;
  /* display:flex; */
  width: 520px;
  height: 662px;
  /* background-color: teal; */
}
.recsong_left{
  margin-right: 80px;
}
.topline,
.recommend .recsong_box .recsong .more .left{
  display: flex;
  align-items: center;
  font-size:14px;
} 
.recommend .recsong_box .recsong .more .left .exchange{
  font-size:12px;
}

.recommend .recsong_box .recsong .more .left .exchange:hover{
  color:rgb(72,189,254);
}
.recommend .recsong_box .recsong .more .left .exchange:hover .exchange_icon{
  /* filter:drop-shadow(0 0 0 rgb(72,189,254)); */
  filter: invert(59%) sepia(83%) saturate(1521%) hue-rotate(177deg) brightness(106%) contrast(99%);
}
.recommend .recsong_box .recsong .more .left p{
  color:rgb(0,176,168);
}
.topline{
  display: flex;
  width: 520px;
  height: 32.8px;
  color:rgb(42,42,42);
  /* flex-wrap: wrap; */
}
.recommend .recsong_box .recsong .title{
  margin-right: 20px;
  font-size: 22px;
}
.recommend .recsong_box .recsong .more{
  display: flex;
  align-items: center;
  flex-grow: 1 ;
  justify-content: space-between;
}
.play_ALL{
  display: flex;
  align-items: center;
  color: #00B0A8;
  font-size: 14px;
  cursor: pointer;
}
.play_ALL:hover p{
  text-decoration: underline; 
}
.play_icon {
  width: 28px;
  height: 28px;
  margin-right: 8px;
  background-size: contain;
  background-position: center center;
  background-image: url(https://5sstatic.kugou.com/public/v5.1/images/play-all.png);
}
.exchange {
  display: flex;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}
.exchange_icon{
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-size: contain;
  background-position: center center;
  background-image: url(	https://5sstatic.kugou.com/public/v5.1/images/exchange.png);
  font-size:12px;
}
.moreyc{
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-left: auto;
  font-size: 14px;
  color: #929292;
}
.moreicon {
  width: 10px;
  height: 10px;
  margin: 0 4px;
  background-size: contain;
  background-position: center center;
  background-image: url(https://5sstatic.kugou.com/public/v5.1/images/arrow-right-sm.png);
  margin-left: 8px;
}
.borderline{
  position: relative;
  width: 520px;
  height: 1px;
  margin: 20px 0 28px;
  background-color: #eee;
}
.borderline:before {
  position: absolute;
  width: 96px;
  height: 1px;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #454545;
 
 content: "";
}
.test{
  width: 520px;
  height: 299px;
  background-color: blue;
}
.big_rec {
  display: flex;
  height: 128px;
  padding-top: 16px;
  margin-bottom: 12px;
  border-radius: 2px;
  background-color: #f8f8f8;
}
.coverbox{
  width: 96px;
  height: 96px;
  background-color: rgb(168, 68, 68);
}
.cover-box {
  position: relative;
  width: 96px;
  height: 96px;
  flex-shrink: 0;
  margin: 0 16px 0 20px;
  border-radius: 8px;
  overflow: hidden;
}
.cover-box .auimg {
  width: 100%;
  height: 100%;
  transition: transform 0.75s cubic-bezier(0, 1, 0.75, 1);
}
.coverbox:hover .auimg{
  transform: scale(1.1);
}
.covermask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0,.3);
  /* opacity: 0;
  transition: opacity .5s; */
  display: none;
}
.coverbox:hover .covermask{
  display: block; 
  /* background-color: rgb(0,176,168); */
}
.coverbox .play-icon {
  display: none;
  position: absolute;
  width: 48px;
  height: 48px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: contain;
  background-position: center center;
  background-image: url(https://5sstatic.kugou.com/public/v5.1/images/video_play.png);
}
.coverbox:hover .play-icon{
  display: block; 
  /* background-color: rgb(0,176,168); */
}
.recdetail{
  width: 388px;
  height: 112px;
}
.song_name{
  display: flex;
  align-items: center;
  width: 344px;
  font-size: 16px;
}
.song_tag{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 18px;
  padding: 0 6px;
  margin-left: 6px;
  color: #7764DA;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  
}
/* .recommend .recsong_box .recsong .big_rec .recdetail  */
.song_name a:hover{
  color:rgb(0,176,185);
}
.recdetail h2{

  font-weight: 400;
}
.recdetail .author{
  display: block;
  margin-top: 5px;
  color:rgb(146,146,146);
  font-size: 12px;
}
.recdetail .author:hover{
  color:rgb(117,117,117);
}
.lyrics{
  margin-top: 5px;
  width: 348px;
  height: 40px;
  color:rgb(146,146,146);
}
.small_rec{
  display:flex;
  width: 520px;
  height: 52px;
  text-align: center;
  align-items: center;
  background-color: white;
}
.small_rec a{
  line-height: 52px;
  /* float:left; */
  font-size: 14px;
  margin-left: 20px;
}
.small_rec a:hover{
 color: rgb(0,176,168);
}
.small_rec .btn-play {
  display: none;
  /* float: left; */
  width: 20px;
  height: 20px;
  margin-left: 8px;
  cursor: pointer;
  background-size: contain;
  background-position: center center;
  background-image: url(https://5sstatic.kugou.com/public/v5.1/images/play.png);
}
.small_rec:hover .btn-play{
  display: block;
}
.small_rec .author{
  margin-left: auto;
  margin-right: 40px;
  color: #929292;
  font-size: 12px;
  text-align: right;
}
.small_rec .author:hover{
  color:rgb(95,95,95);
}
.small_rec:nth-child(2n){
  background-color: rgb(248, 248, 248);
}
.newsong_back{
  position: relative;
  height: 516px;
  background-size: contain;
  background-position: center center;
  background-image: url(https://5sstatic.kugou.com/public/v5.1/images/newsong-bg.jpg);
  background-size: cover;
  overflow: hidden;
}
.newsong_back .ct{
  position: relative;
  width: 1120px;
  height: 400px;
  margin:auto;
  overflow: hidden;
  /* background-color: rgb(72,189,254); */
  padding-top: 44px;
}
.newsong_back .ct .top{
  display: flex;
  align-items: center;
  margin-top:0;
  margin-bottom: 30px;
}
.newsong_back .ct .top .title{
  width: 144px;
  height: 40px;
  margin-right: 30px;
  background-size: contain;
  background-position: center center;
  background-image: url(https://5sstatic.kugou.com/public/v5.1/images/title-newsong.png);
}
.play_ALL p{
  color:white;
}
.play_ALL:hover p{
  color:#00B0A8;
  text-decoration: none;
}
.newsong_back .ct .song{
  float: left;
  display: flex;
  align-items: center;
  width: 520px;
  margin-right: 80px;
  margin-bottom: 24px;
  color: #fff;
  font-size: 14px;
}
.newsong_back .ct .song:nth-child(2n+1){
  margin-right: 0;
}
.newsong_back .ct .song .cover-box {
  position: relative;
  flex-shrink: 0;
  width: 56px;
  height: 56px;
  margin-right: 20px;
  margin-left: 0;
  border-radius: 4px;
  overflow: hidden;
}
.newsong_back .ct .song .cover-box .cover{
    width: 100%;
    height: 100%;
    transition: transform 0.75s cubic-bezier(0, 1, 0.75, 1);
}
.newsong_back .ct .song .cover-box .mask {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:rgb(0,0,0,.3);
}
.newsong_back .ct .song .cover-box .play-icon {
  display: none;
  position: absolute;
  width: 28px;
  height: 28px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: contain;
  background-position: center center;
  background-image: url(https://5sstatic.kugou.com/public/v5.1/images/play.png);
}
.newsong_back .ct .song .cover-box:hover .play-icon{
  display: block;
}
.newsong_back .ct .song .cover-box:hover .mask{
  display: block;
}
.newsong_back .ct .song .cover-box:hover .cover{
  position:absolute;
  width: 105%;
  height: 105%;
  transform: scale(110%);
}
.newsong_back .ct .song a{
  color:#fff;
  font-size: 14px;
}
.newsong_back .ct .song a:hover{
  color:#00926d;
}
.newsong_back .ct .song .author{
  width: 112px;
  margin-left: auto;
  color:#fff;
  opacity: .7;
}
.newsong_back .ct .song .author:hover{
  color:#fff;
  opacity: 1;
}
.newsong_back .bottom{
  display: flex;
  width: 240px;
  height: 6px;
  /* background-color: #fff; */
  margin:50px auto;
}
.newsong_back .bottom .pagebt{
  width: 6px;
  height: 6px;
  margin-right: 18px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
.newsong_back .bottom .cur{
  background-color: #fff;
  transform: scale(1.33);
}
.newsong_back .bottom .pagebt:hover{
  background-color: #fff;
  transform: scale(1.33);
}
.newsong_back .arrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 76px;
  top: 50%;
  border-radius: 0px 2px 2px 0px;
  background-color: rgba(255, 255, 255, 0.08);
  transform: translateY(-50%);
  transition: all .3s;
  cursor: pointer;
}
.newsong_back .prev {
  left: -60px;
}
.newsong_back:hover .prev{
  left:0;
}
.newsong_back .next {
  right:-60px;
}
.newsong_back:hover .next{
 right: 0;
}
.newsong_back .arrow.prev::after {
  content: "";
  width: 30px;
  height: 20px;
  background-size: cover;
  opacity:.6;
  background-position: center center; 
  
  background-image: url(https://5sstatic.kugou.com/public/v5.1/images/arrow-left.png) ;
  /* no-repeat; */
}
.newsong_back .arrow.prev:hover::after{
  /* background-color: aqua; */
  opacity:.8;
}
.newsong_back .arrow:hover{
  background-color: rgba(255, 255, 255, 0.15);
}
.newsong_back .arrow.next::after {
  content: "";
  width: 30px;
  height: 20px;
  background-size: cover;
  opacity: .6;
  background-position: center center; 
  /* background-color: aqua; */
  background-image: url(https://5sstatic.kugou.com/public/v5.1/images/arrow-right.png) ;
  /* no-repeat; */
}
.newsong_back .arrow.next:hover::after{
  /* background-color: aqua; */
  opacity:.8;
}
.hot{
  height: 684px;  
  background-color: #f6f6f6;
  overflow: hidden;
}
.hot .w .top{
  margin-top: 34px;
  margin-bottom: 44px;
  width: 100%;
  height: 40px;
}
.hot .w .top .title {
  float: left;
  width: 144px;
  height: 40px;
  margin-right: 40px;
  background-size: contain;
  background-position: center center;
  background-image: url(https://5sstatic.kugou.com/public/v5.1/images/title-hot.png);
}
.hot .w .top .more {
  float: right;
  display: flex;
  align-items: center;
  height: 100%;
  flex-shrink: 0;
  margin-left: auto;
  font-size: 14px;
  color: #929292;
}
/* .hot .w .bottom{

} */
.hot .w .bottom .item{
  float: left;
  margin-right: 76px;
  margin-bottom: 44px;
}
.hot .w .bottom .item:nth-child(4){
  margin-right: 0;
}
.hot .w .bottom .item:nth-child(9){
  margin-right: 0;
}
.hot .bottom .big-item-box{
  display: flex;
  align-items: center;
  position: relative;
  width: 408px;
  height: 242px;
  padding: 0 24px 0 20px;
  border-radius: 10px;
  overflow: hidden;
  background-color: aqua;
}
.bottom .big-item-box .cover-img {
  position: absolute;
  width: 100%;
  height: auto;
  /* top: 50%; */
  left: 0;
  /* transform: translate(0, -50%); */
}
.bottom .big-item-box .cover-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(87, 140, 138, 0.95);
}
.hot .bottom .cover-play{
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: azure;
  border-radius: 10px;
  width: 160px;
  height: 160px;
  background-position: center;
  background-size: 100%;
  background-image: url(https://wsingbssdl.kugou.com/1ca9109944bb2815ddd91696b44d6a39.png_160x160.png);
  transition: .75s ease;
  cursor: pointer;
}
.hot .bottom .cover-play .mask{
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,.3);
  display: none;
}
.hot .bottom .cover-play .play-icon {
  display: none;
  position: absolute;
  width: 62px;
  height: 62px;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  background-size: contain;
  background-position: center center;
  background-image: url(https://5sstatic.kugou.com/public/v5.1/images/video_play.png)
}
.hot .bottom .cover-play:hover .play-icon{
  display: block;
} 
.hot .bottom .cover-play:hover .mask{
  display: block;
} 
.hot .bottom .cover-play:hover{
  background-position: center;
  background-size:108%;
  background-image: url(https://wsingbssdl.kugou.com/1ca9109944bb2815ddd91696b44d6a39.png_160x160.png)
}
.bottom .big-item-box .info{ 
  position: relative;
  left: 30px;
  z-index:1;
  
} 
.bottom .big-item-box .info .title{
  display: block;
  margin-bottom: 8px;
  color:#fff;
  font-size: 16px;
  font-weight: 400;
}
.bottom .big-item-box .info .title:hover{
  color:rgb(0,176,168);
}
.bottom .big-item-box .info p{
  margin-top: 8px;
  opacity: .8;
}
.bottom .big-item-box .info .author{
  font-size: 13px;
  color:#fff;
  opacity: .8;
}
.bottom .big-item-box .info .author:hover{
  color: #607473;
}
.hot .bottom .item-box{
  width: 160px;
  height: 242px;
  /* background-color: rgb(0,176,168); */
}
.hot .bottom .item-box .title{
  margin-top: 15px;
  font-size: 16px;
  color:rgb(0,0,0);
}
.hot .bottom .item-box .title:hover{
  color:rgb(0,176,168);
}
.hot .bottom .item-box .author{
  margin-top: 5px;
  font-size: 13px;
  color:rgb(0,0,0,.5);
}
.hot .bottom .item-box .author:hover{
  color:rgb(0,0,0,.7);
}
.special{
  height: 576px;
  /* background-color: rgb(0,176,168); */
}
.special .w .top{
  margin-top: 34px;
  margin-bottom: 44px;
  width: 100%;
  height: 40px;
}
.special .top .title {
  width: 144px;
  height: 40px;
  background-size: contain;
  background-position: center center;
  background-image: url(	https://5sstatic.kugou.com/public/v5.1/images/title-special.png);
}
/* .special .bottom{

} */
.special .bottom .item {
  position: relative;
  float: left;
  width: 120px;
  margin-right: 80px;
  margin-bottom: 48px;
  text-align: center;
}
.special .bottom .item .img-box{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}
.musician-list{
  height:  576px;
  background-color: #f3f3f3;
}
.musician-list .w .top{
  display: flex;
  margin-top: 34px;
  margin-bottom: 44px;
  width: 100%;
  height: 40px;
  align-items: center;
}

.musician-list .w .top .title{
  width: 176px;
  height: 40px;
  background-size: contain;
  background-position: center center;
  background-image: url(https://5sstatic.kugou.com/public/v5.1/images/title-musician.png);
}
.moreyc {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-left: auto;
  font-size: 14px;
  color: #929292;
}
.moreyc:hover{
  color:#5f5f5f;
}
.musician-list .bottom .item{
    position: relative;
    float: left;
    width: 120px;
    height: 180px;
    margin-right: 80px;
    margin-bottom: 48px;
    text-align: center;
    /* overflow: hidden; */
    
}
.musician-list .bottom .item .mcoverbox{
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: rgb(0,176,168);
  overflow: hidden;
  z-index: 2;
}
.musician-list .bottom .item .musiciancover {
  width: 120px;
  height: 120px;
  /* margin-bottom: 16px; */
  border-radius: 50%;
  cursor: pointer;
  transition:  .75s ease;
}
.musician-list .bottom .item .musiciancover:hover{
  transform: scale(1.1);
}
/* .musician-list .bottom .item .detail{
  display:block;
 
  position: relative;
  width: 360px;
  height: 256px;
  border-radius: 10px;
  background-color: #fff;
  border-top-left-radius: 60px;
  background-image: url(https://wsingbssdl.kugou.com/3487fccfd8c08f862c840a7926cd1d5c.png_120x120.png) ;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}
.musician-list .bottom .item .detail::after{


  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top:0; 
  filter: blur(20px);
  
} */
.musician-list .bottom .item .detail{
  display: none;
  position: relative;
  width: 360px;
  height: 256px;
  border-radius: 10px;
  background-color: #fff;
  border-top-left-radius: 60px;
  z-index: 1;
  overflow: hidden;
}
.musician-list .bottom .item .detail::after{
  content: "";
  background-image: url(https://wsingbssdl.kugou.com/3487fccfd8c08f862c840a7926cd1d5c.png_120x120.png) ;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top:0; 
  filter: blur(10px);
  z-index: 2;
  
}
.musician-list .bottom .item .detail .mask{
  position:absolute;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color:rgb(0,0,0,.6);
}
.musician-list .bottom .item:hover .detail{
  z-index: 3;
  display: block;
} 
.musician-list .bottom .item:hover .mcoverbox{
  z-index: 4;
}
.musician-list .bottom .mask .intro{
  position: relative;
  float:right;
  width: 230px;
  height: 230px;
  /* background-color: rgb(0,176,168); */
}
.musician-list .bottom .mask .intro .introtop{
  position: absolute;
  text-align: left;
  top:10px;
  left: 5px;
  width: 190px;
  height: 56px;;
  color: #beb9b9;
}
.musician-list .bottom .mask .name{
  float:right;
  margin-top: 130px;
  margin-right: 45px;
  width: 50px;
  height: 20px;
  /* background-color: rgb(0,176,168); */
  color:white;
  cursor: pointer;
}
.musician-list .bottom .mask .name:hover{
  color:rgb(0,176,168);
}
.musician-list .bottom .mask .intro .song{
  display: flex;
  margin-top: 12px;
  color:white;
  font-size: 12px;
  cursor: pointer;
}
.musician-list .bottom .mask .intro .song:hover{
  color: rgb(0,176,168);
}
.musician-list .bottom .mask .intro .song .songicon{
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-left: auto;
  margin-right: 18px;
  cursor: pointer;
  background-size: contain;
  background-position: center center;
  background-image: url(https://5sstatic.kugou.com/public/v5.1/images/rank/playaccount_grey.png);
}
.musician-list .bottom .mask .intro .song .songicon:hover{
filter: brightness(2);
}